<h1>Communication entre les composants</h1>

<section>
  <h2>Les Attributs de composant et Typescript</h2>

  <p>Lorsqu'on déclare un attribut dans un composant, sans l'initialiser, typescript peut générer une erreur de compilation.</p>
  <p>Exemple : </p>
  <p><code>produit : string;</code></p>
  <p>Ici, on déclare une propriété produit de type string, sans l'initialiser à la déclaration ni dans le constructor.</p>
  <p>Hors, une variable non initialisée est <i>undefined</i>, et undefined, c'est un type.</p>
  <p>Donc ici, typescript râle parce que le typage n'est pas bon, string !== undefined;</p>
  <p>Pour pallier à ça, il existe plusieurs solutions : </p>
  <ul>
    <li>Initialiser la valeur avec une valeur par défaut, si possible.</li>
    <li>Le typer en undefined : <code>produit: string | undefined;</code></li>
    <li>Le rendre optionnel : <code>produit? : string;</code></li>
    <li>Le rendre "obligatoire" : <code>produit! : string;</code></li>
  </ul>
  <p>(cf : commentaires dans le composant components/enfant.component.ts )</p>
</section>

<section>
  <h2>La communication descendante : Props</h2>
  <p>Passer une information d'un composant parent vers un composant enfant.</p>

  <p>Lorsqu'on créé un composant enfant, qui attend une valeur, on le déclare avec une propriété préfixé du décorateur
  <code>@Input() ma_propriété: type;</code></p>
  <p>On peut ensuite se servir de cette propriété à l'intérieur du composant, et de son template sans avoir à ce soucier
  de ce qu'elle contient ( il faut juste connaître son / ses types possible.</p>

  <p>Du côté du parent, on passe la valeur souhaité dans la balise du composant enfant, via un attribut de balise du
    même nom que l'Input déclaré ( <code>{{ '<' + 'app-enfant' + ' ma_propriété="valeur"' + '>'}}</code></p>

  <p>Cette propriété suit les mêmes règles que les autres attributs HTML : entourée de crochets [], elle interpréte du JS.</p>

  <p>Un enfant peut attendre plusieurs inputs.</p>

  <p>Pour créer un input obligatoire, plusieurs solutions : </p>
  <ul>
    <li>Tester la présence de la valeur dans le ngOnInit, et si elle est vide, lancer une erreur. -> Erreur interpretation dans le navigateur</li>
    <li>Ajouter le ou les inputs obligatoire dans le selector du composant enfant : <code>selector : 'app-enfant[produit]'</code> -> Lance une erreur de compilation, dans le terminal</li>
  </ul>

  <h3>Mes produits</h3>

  <p><b>Produits dans parent : </b>
    {{products.join(' ,')}}
  </p>

  <div class="grid">
    <!--
    <app-enfant produit="Bottes à moumoute"></app-enfant>
    <app-enfant [produit]="pantoufle"></app-enfant>
    -->
    <app-enfant *ngFor="let p of products; let i = index;" [produit]="p" (update_event)="handleUpdateEvent($event, i)"></app-enfant>
  </div>


</section>

<section>
  <h2>Compteur</h2>
  <p><i>[parent] : Valeur de parent count {{parent_count}}</i></p>
  <button (click)="plus()">[parent]</button>

  <div class="grid">
    <app-counter [count]="parent_count" (update_event)="updateCounter($event)"></app-counter>
  </div>
</section>


<section>
  <h2>Compteur en short 🩳 </h2>
  <p><i>[parent] : Valeur de parent count {{parent_count_2}}</i></p>

  <p>En appelant le Output du composant enfant en suivant la syntaxe nominputChange ( ici <i>countChange</i> ),
  on permet à Angular de gérer la modification des données de manière bidirectionnelle ( <b>Two Way Binding</b> ).</p>
  <p>ça ne fonctionne pas dans une ngFor, ça ne fonctionne que quand l'input passé est directement la valeur enregistrée dans le parent.</p>

  <div class="grid">
    <app-counter-short [(count)]="parent_count_2" ></app-counter-short>
  </div>
</section>
