<h1>Syntaxe de template et directives</h1>

<p>Ici, on peut mettre du HTML classique, mais également de l'interpolation, ou du data binding.</p>

<section>
  <h2>L'interpolation</h2>

  <p >L'interpolation, c'est le fait de mélanger le HTML et le JS entre les balises HTML ( au niveau du texte ). </p>
  <p>En Angular, on utilise les balises Moustaches</p>
  <p>On peut y mettre tout code JS / TS qui retourne une valeur.</p>
  <p>Si on peut enregistrer l'expression dans une variable, alors on peut le mettre dans les moustaches.</p>
  <ul>
    <li>Noms de variables du composant associé :  {{title}}</li>
    <li>1 + 1 = {{ 1 + 1 }}</li>
    <li>Une méthode ( si elle a un retour ) : {{getTitleUppercase()}}</li>
    <li>Bis : {{ getSum(30, 60) }}</li>
    <!-- Connecté⋅e  ou Hors ligne -->
    <li>Status : {{ is_logged ? 'Connecté⋅e' : 'Hors Ligne' }} </li>
    <li>Caractères réservés : {{ '{accolades}' }}  {{ '<' + 'balises' + '>' }}</li>
    <li>{{exemple_de_code}}</li>
  </ul>

  <p>Le ternaire : permet de retourner une valeur ou une autre, en fonction d'une condition.</p>
  <p>WTF : What ? true : false; </p>
  <ul>
    <li>What : quelle condition</li>
    <li>True : valeur à retourner si la condition est vrai</li>
    <li>False : valeur à retourner si la condition est fausse</li>
  </ul>
  <p>Pour les conditions plus complexes, il faut faire une méthode.</p>

</section>

<section>
  <h2>Data Binding // Attribute Binding</h2>

  <p>C'est le fait de pouvoir interpréter du Javascript / du TS au niveau des attributs HTML.</p>
  <p>En Angular, on peut binder dans n'importe quel attribut HTML : class, id, src, href, aria-**, data-**, alt...</p>
  <p>La règle :</p>
  <ul>
    <li>[attribut en crochet]="Du typescript"</li>
    <li>attribut-classique = "string en dur comme en HTML 5"</li>
  </ul>
  <p>Lorsque l'attribut est entre crochets, on peut mettre n'importe quelle expression qui retourne une valeur.</p>
  <p>Variable, expression JS, ternaire, méthodes...</p>
  <p>
    <img [class]=" 'maclasse' " [src]="getImage()" alt=""/>
  </p>

  <p>Interpolation + Binding</p>
  <figure>
    <img [src]="image.url" [alt]="image.description"/>
    <figcaption>{{image.titre}}</figcaption>
  </figure>

</section>

<section>
  <h2>Directives</h2>

  <p>Une directive c'est une classe, avec un decorateur @Directive, et qui sert à modifier l'affichage ou le comportement de l'élément HTML sur lequel on la met.</p>
  <p>Elle peut prendre ou non, des propriétés / arguments</p>
  <p>Il existe des directives natives, qui commencent par "ng" : ngFor, ngIf, ngModel, ...</p>

  <article>
    <h3>ngIf</h3>
    <p>ngIf se met sur une balise, et sert à conditionner son affichage, en fonction d'une condition.</p>

    <!-- Affichage simple --->
    <p *ngIf="is_logged">Vous êtes connecté⋅e.</p>

    <!-- Texte simple -->
    <p>Status : {{is_logged? 'connecté⋅e' : 'hors ligne'}}</p>

    <!-- if else version flemme -->

    <p *ngIf="is_logged">Vous êtes connecté⋅e</p>
    <p *ngIf="!is_logged">Vous êtes hors ligne</p>

    <!-- if else directive -->
    <!-- ng-template : balise Angular qui sert à délimiter un block de HTML;
    -> Ce block n'est pas affiché tout le temps,
    -> Ce block peut-être nommé
    -> ng-template ne créé pas de balise supplémentaire
    -->

    <h3>Syntaxe habituelle</h3>
    <p *ngIf="is_logged; else horsLigne">En ligne</p>
    <ng-template #horsLigne>
      <p>Hors ligne</p>
    </ng-template>


    <h3>Syntaxe possible</h3>
    <ng-container *ngIf="is_logged; then logged; else notLogged"></ng-container>

    <ng-template #logged>
      <p>Block connecté</p>
      <p>Ici un bouton, des liens, des trucs...</p>
    </ng-template>

    <ng-template #notLogged>
      <p>Block anonyme</p>
      <p>Bouton de connexion, message, ect...</p>
    </ng-template>

    <h3>Syntaxe secondaire</h3>

    <ng-container *ngIf="is_logged; else notLoggedBis">
      <p>Block connecté</p>
      <p>Ici un bouton, des liens, des trucs...</p>
    </ng-container>
    <ng-template #notLoggedBis>
      <p>Block anonyme</p>
      <p>Bouton de connexion, message, ect...</p>
    </ng-template>

  </article>


  <article>
    <h3>NgModel</h3>

    <p>NgModel assigne une variable à une value d'input, et la value de l'input à la variable</p>
    <p><b>Two Way Binding</b> : on bind du composant vers le template, et du template vers le composant.</p>

    <h4>Syntaxe JS ( améliorée )</h4>
    <p>En JS, on a l'attribut value d'un input, c'est sa valeur par défaut, et l'événement onInput : qui se déclance
      à chaque modification du texte contenu.</p>

    <p>
      <i>$event</i> : permet de récupérer en paramètre ce que renvoie un événement. Son nom est fixe.
    </p>
    <p>Les événements HTML natifs ( click, change, input, mouseover, submit...) retournent un objet Event.</p>
    <p>Les événements Angular, ou personnalisés ( output ) peuvent retourner autre chose.</p>

    <p>
      <code>
        {{code_js}}
      </code>
    </p>
    <input [value]="lastname" (input)="bindLastName($event)"/>

    <h4>Syntaxe Angular décomposée</h4>

    <p>[] -> data binding, on passe une valeur du TS vers le template, </p>
    <p>() -> événements, on appelle une fonction TS lorsque l'événement se déclanche.</p>
    <p>ngModel : attribut Angular qui remplace value.</p>
    <p>ngModelChange : événement Angular, qui se déclanche à chaque modification dans l'input,
      et qui retourne la nouvelle valeur de l'input.</p>

    <p>
      <code>{{code_angular}}</code>
    </p>
    <input [ngModel]="name" (ngModelChange)="bindName($event)" />
    <p>Name : {{name}} {{lastname}}</p>

    <h4>Syntaxe Two Way Binding</h4>
    <p>"Banana in a box" : combine les [] u binding, et les () de l'événement.</p>
    <p>Ça permet de gérer à la fois la valeur de base de l'input, et la mise à jour de la variable associée.</p>

    <p>
      <code>
        {{code_angular_good}}
      </code>
    </p>
    <input [(ngModel)]="username"/>
    <p>Username : {{username}}</p>
    <p>
      <button (click)="resetUserName()">Reset</button>
    </p>
  </article>
</section>

<section>
  <h2>Ng-Classe</h2>

  <p>Ng-Classe peut permettre de passer conditionnellement une classe, ou dynamiquement.</p>
  <p>Il y a plusieurs syntaxes possibles : </p>

  <h3>String</h3>

  <p>Comme en data binding ( string, variable, expression, concaténation, ternaire, méthode, ...)</p>

  <p [ngClass]="my_classe">Ici, ma classe est fournie par une variable</p>
  <p [ngClass]="is_logged? 'green' : 'red'">Ici, ma classe est passée par un ternaire</p>
  <p [ngClass]="is_logged? 'green' : null">Ici, ma classe est passée par un ternaire pas propre</p>

  <h3>Objet</h3>

  <p>On peut passer un objet qui prend en attribut, le nom de la classe ( avec ou sans guillemets ),
    et en valeur une condition.</p>
  <p>La classe ne sera attribuée que si la condition est vraie.</p>
  <p [ngClass]="{'green': is_logged, 'toto': 10 > 20, 'truc': true}">Ma classe est passée par un objet</p>

  <h3>Tableau</h3>

  <p [ngClass]="['classeA', my_classe]">Ma classe est passée par un tableau de string</p>
  <p [ngClass]="mes_classes">Ma classe est passée par un tableau de string</p>

  <h3>Autre syntaxe pour 1 classe conditionnelle</h3>
  <p>classe.nom_de_classe = "condition"</p>
  <p [class.red]="!is_logged">Classe conditionnelle</p>
</section>


<section>
  <h4>NgStyle</h4>

  <p>NgStyle prend en paramétre un objet Javascript, représentant le style.</p>
  <p>On retrouve les mêmes propriétés qu'en CSS, attention cepedant : en CSS on utilise le kebab-case,
    en JS, on utilise le camelCase.
  </p>
  <p>Les valeurs sont à passer en string, comme des valeurs CSS valides.</p>
  <p [ngStyle]="{color: 'violet'}">J'ai du style</p>
  <p [ngStyle]="{color: my_color}">J'ai du style</p>
  <p [ngStyle]="{color: color}">Redondant</p>
  <p [ngStyle]="{color}">Pas Redondant</p>
  <p [ngStyle]="{color, fontSize: '1.1em'}">Pas Redondant</p>
  <p [ngStyle]="{color, fontSize: size + 'px'}">Taille dynamique</p>
  <p [ngStyle]="{color, 'font-size.px': size }">Taille dynamique</p>
  <p [ngStyle]="my_style">Style dans le JS</p>
  <p>
    <button (click)="zoom()">Augmenter</button>
  </p>
</section>

<section>
  <h2>NgFor</h2>

  <p>NgFor sert à répéter une balise pour chaque éléments d'une liste.</p>

  <ul>
    <li *ngFor="let item of mes_classes">{{item}}</li>
  </ul>

  <h3>Combiner avec un if : </h3>
  <ul>
    <ng-container *ngFor="let item of mes_classes">
      <li *ngIf="['a', 'c'].includes(item)">{{item}}</li>
    </ng-container>
  </ul>

  <h3>Variables locales</h3>
  <ul>
    <li *ngFor="let item of mes_classes;
      let i = index;
      let is_first = first;
      let is_last = last;
      let is_odd = odd;
      let is_even = even;
    ">
      {{i}} : {{item}} {{is_first? 'Premier de la liste' : i + 1 + 'ème de la liste ' }}
      Paire ? : {{ is_odd }}, Impaire : {{is_even}}
    </li>
  </ul>

  <ul>
    <li *ngFor="let item of mes_classes;
      index as i;
      first as is_first;
      last as is_last;
      odd as is_odd;
      even as is_even;
    ">
      {{i}} : {{item}} {{is_first? 'Premier de la liste' : i + 1 + 'ème de la liste ' }}
      Paire ? : {{ is_odd }}, Impaire : {{is_even}}
    </li>
  </ul>
</section>
